.right,
.left {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    flex-basis: 50%;
}

.card:nth-child(1) {
    background: #1CCABB;
    z-index: 4;
}
.card:nth-child(2) {
    background: #FAA045;
    z-index: 3;
}
.card:nth-child(3) {
    background: #107A71;
    z-index: 2;
}
.card:nth-child(4) {
    background: #55D7CC;
    z-index: 1;
}

.card.active {
    transform-origin: bottom left;
}

.left {
    align-items: center;
    flex-direction: column;
}