@font-face {
    font-family: Founder;
    src: url(FoundersGroteskCondensed-Bold.ttf);
}

@font-face {
    font-family: CardinalR;
    src: url(cardinalfruitweb-regular.ttf);
}

@font-face {
    font-family: Guise;
    src: url(/font/HK\ Guise\ SemiBold.otf);
}


#open-text h1{
    font-family: Founder;
    font-size: 20vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
}

#bottom-h1{
    top: -6% !important;
}

.content-text .headline{
    /* font-family: CardinalR; */
}

/*  */
.sec-headline {
    /* font-family: Cardinali; */
    text-transform: uppercase;
    font-weight: 600;
    line-height: 200px;
}

.sec-title{
    /* font-family: CardinalR; */
}
