#card-one {
    top: 130%;
    border-radius: 30px;
    background-image: url(/img/HRSystemIntegration.png);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#card-two {
    top: 230%;
    border-radius: 30px;
    background-image: url(/img/Timekeeping.png);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#card-three {
    top: 240%;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.5); 
    background-image: url(/img/PayrollOutsourcing.png);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.cards-3 {
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%); 
    width: 80%;
    height: 85vh; 
    background-position: center; 
    background-size: cover; 
}

.title-headline-3{
    font-size: 80px;
    color: #00fff2;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    text-shadow: 1px 2px 2px rgba(255, 255, 255, 0.877);
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.topic-3 {
    font-size: 80px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
    text-shadow: 2px 2px 2px rgba(112, 112, 112, 0.877);
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.subheadline-3{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    margin-left: 5px;
    animation: animate 1s ease-in-out 0.9s 1 forwards;
    color: #ffffff;
}

.button-3 {
    width: 40%;
    padding-top: 12px;       
    padding-bottom: 12px;
    color: white;
    background: #FAA045;  
    font-weight: 700;  
    letter-spacing: 3px;
    border-radius: 5px;
}

.button-3:hover {
    background: #ff942a;
}